---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}{{ site.baseurl }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}{{ site.baseurl }}">
                        	<p style="font-size:1.2rem;font-weight:500">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}{{ site.baseurl }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}{{ site.baseurl }}about">
                         Riguardo Trovaparadigmi
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/">
                         Autore
                         </a>
                 </h3>
		 <p style="font-size: 11px">NOTA: Per la versione 0.4, per trovare i participi al meglio, se avete già installato trovaparadigmi, cancellate i contenuti di .latin_paradigm_finder, una sottocartella presente nella vostra cartella utente. Questo perché là sono memorizzate le parole scaricate, che adesso avranno un nuovo attributo: participio, che ritorna all'indirizzo del verbo originale. Senza questo attributo, il participio non viene rilevato dal file, quindi le parole già scaricate non saranno rilevate come participi se non cancellate la cartella e le ricercate con il programma successivamente.</p>
		 <p style="font-size: 11px">Trovaparadigmi.exe Version 0.4 Alpha</p>
                 <p style="font-size: 11px">Landing page forked from <a href="https://github.com/AlbertSuarez/albertsuarez.github.io">albertsuarez.github.io</a>, which is forked from <a href="https://github.com/TaylanTatli/Moon">Moon</a></p>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
